node_modules
# Keep environment variables out of version control
.env

# Prisma
/generated/

#Build artifcats
dist/
artifacts/

# debug logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db


**/dist/
**/generated/
**/node_modules/
.env